@font-face{
	src: url(Fonts/Montserrat-Bold.otf);
	font-family: mont-sb;
}

.wrap{
	display:flex;
}

.searchbox{
    width: 50vw;
    overflow: scroll;
    background-color:#2d2a31;
    color:#ffc107;
}

.profile{
	height: 100vh;
    width: 50vw;
    overflow: scroll;
    background-color:#2d2a31;
    color:#ffc107;
}

.search{
	background-color: #2d2a31;
	color:#ffc107;
}

.logo{
	font-family: mont-sb;
	font-size: 50px;
}

.logoIn{
	font-family: mont-sb;
	font-size: 50px;
	color: #ffc107;
}

.texto{
	font-family: mont-sb;
	color: #ffc107;
}

.frame{
	border: 1px solid #ffc107;
	margin: 20px;
	margin-left:auto;
	margin-right:auto;
}

.footer{
	background-color: #ffc107;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2d2a31;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
